{% load static %}
<html>
    <head>
        <title> С др пидрилка !!!</title>

        <style>
        canvas {
           position:absolute;
           top:0;
           left:0;
           width:100%;
           height:100%;
           z-index:-1;
        }
        </style>

        {% block js-head %}

        <script src="{% static 'js/p5.min.js' %}"></script>
        <script src="{% static 'js/murich.js' %}"></script>
        {% endblock js-head %}

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">

    </head>

<body>

    <div class="page-header"> <h1> <b>Поздравляю, мужик!</b></h1> </div>

    <div class="content container">
        <div class="row">
            <div class="col-md-8">

              {% if user.is_staff %}

                  {% for post in post_list %}
                     <div class="post">
                        <h2><b>{{ post.title }}</b></h2>
                        <h3>{{ post.text|linebreaksbr }}</h3>
                                <div class="text">
                                    {{ post.article|safe }}
                                </div>
                       <!--{% load static %} -->
                        <!--<img src="{% static "photos/sh.jpg" %}" alt="My image"> -->
                        <img src="{{post.image.url}}" />
                        {% if post.audio_file %}
                            <audio controls>
                                <source src="{{ post.audio_file.url }}" type="audio/mp3">
                            </audio>
                        {% else %}
                          <p>   </p>

                        {% endif %}

                     </div>
                  {% endfor %}

              {% endif %}

            </div>
        </div>
    </div>

</body>
</html>