{% load static %}
<html>
    <head>
        <title> Hello! </title>



        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>

<body>

    <div class="page-header"> <h1> F̶u̶c̶k̶ Huck you!*  </h1> </div>

    <div class="content container">
        <div class="row">
            <div class="col-md-8">
              <h1>* This is what you should say to people who don't believe you will become a programmer </h1>


            </div>
        </div>
    </div>

</body>
</html>