<!DOCTYPE html>
{% load static %}
<html>
{% if user.is_staff %}

    <head>
        <title> С др мурыч!!!</title>

        <style>
        canvas {
           position:absolute;
           top:0;
           left:0;
           width:100%;
           height:100%;
           z-index:-1;
        }
        </style>


        {% block js-head %}

        <script src="{% static 'js/p5.min.js' %}"></script>
        <script src="{% static 'js/murich.js' %}"></script>
        {% endblock js-head %}


        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">



    </head>

<body>
    <div class="page-header"> <h1><b>Queen of drama & VDV Production proudly presents: </b></h1> </div>

    <div class="content container">
        <div class="row">
            <div class="col-md-8">



                  <h1><b>Дорогой мурыч!!! Поздравляю с очередным 21-летием!</b></h1>
                  <h1>                                   (не 18, чтоб продавали водяру)</h1>
                  <br/>
                  <br/>


                      {% for post in object_list %}
                         <div class="post">
                            <h2><b>{{ post.title }}</b></h2>
                            <h3>{{ post.text|linebreaksbr }}</h3>
                           <!--{% load static %} -->
                            <!--<img src="{% static "photos/sh.jpg" %}" alt="My image"> -->
                            <img src="{{post.image.url}}" />
                            {% if post.video_file %}
                                <audio controls>
                                    <source src="{{ post.video_file.url }}" type="audio/mp3">
                                </audio>
                            {% else %}
                              <p>   </p>

                            {% endif %}


                         </div>
                      {% endfor %}



            </div>
        </div>
    </div>

</body>
{% endif %}
</html>