{% extends 'blog/base.html' %}



{% block content %}


    <h1>Learn to program step by step</h1>

    <div class="text">

        <p>This website is for you if you want to learn programming from scratch. You don’t need any experience or knowledge for that, not even basic math. We will explain everything.</p>

    </div>

        <br>

        <h3>Why to be here?</h3>

    <div class="text">

        <p>Because there is no other place for beginners where you can get an explanation for every step that you take, with practical examples.

        </p>

        <p>We have Coursera… why do we need something new? </p>

        <p>
        Most of the online courses try to raise your interest while not overloading you with knowledge, and make you practice. Practice is indeed a great thing, but when you don’t understand what you do while practicing, it is not real learning. Most of the online courses are designed in a way that you can pass them without actual understanding of the topic. This is not why you enroll there, right?
        </p>

        <p>
        Real learning is not quick, but it doesn’t mean it is boring. What we do here is split big complicated things into small and easy ones, and go through them step by step. You will not jump from one topic to another to pretend there is a quick progress. You will do a real progress.
        </p>

        <p>
        But how the “real” programmers, the guys who “built themselves”, learnt? You probably think they sat in front of their laptops 24/7, not eating or sleeping and just learning as crazy… Or that they are geniuses…
        </p>

        <p>
        No, they are not (sorry guys)! They are just… curious. And… yes, they spent a lot of time to learn everything by themselves, but just because there is no single source of information to learn programming, there are many. And they are messy. First you have to find these sources and learn how to use them efficiently to get answers to your particular questions. And you have to learn how to ask the right questions, too. Doesn’t sound like a complicated technical stuff, huh?
        </p>

        <p>
        Don’t be scared, you don’t have to do all of that. You are lucky, because you have us. Even though we cannot absorb all the information about how to program that was ever published in the Internet, we will try to. And we promise you that it will be the most clear and coherent source for learning programming in the whole Internet.
        </p>

    </div>


{% endblock %}