{% extends 'blog/base.html' %}

{% load static %}





{% block content %}



    <div class="row mb-2">



    {% for post in posts %}








    {% if forloop.counter == 1 %}

    {% for im in images %}


    {% if im.post == post %}

     <div class="photo" style="background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(http://yksenia.pythonanywhere.com/{{ im.image.url }} ); height: 400px">

     {% endif %}

     {% endfor %}

    <div class="col-md-6 px-0">

      <h1><a href="{% url 'post_detail' pk=post.pk %}" style="text-decoration:none;">{{ post.title }}</a></h1>
      <h3>Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</h3>


    </div>
    </div>

    {% elif forloop.counter|divisibleby:"2" == 0   %}



    <div class="col-md-6 px-0">
        <div style="height: 500px">
      <div class="row no-gutters overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-8 d-flex flex-column position-static">


            {% for im in images %}

            {% if im.post == post %}

            <div class="photo" style="background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(http://yksenia.pythonanywhere.com/{{ im.image.url }} ); height: 400px">

                {% endif %}

            {% endfor %}

          <strong class="d-inline-block mb-2 text-primary ml-4 mt-4">{{ post.label }}</strong>
          <h1><a href="{% url 'post_detail' pk=post.pk %}" style="text-decoration:none;">{{ post.title }}</a></h1>


          <div class="mb-1 text-muted ml-4">{{ post.published_date }}</div>

          <h3>This is a wider card with supporting text below as a natural lead-in to additional content.</h3>
        </div>
        </div>

        </div>
      </div>
    </div>



    {% else %}


    {% for im in images %}


    {% if im.post == post %}



        <div class="col-md-6 px-0">
        <div style="height: 500px">
      <div class="row no-gutters overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-8 d-flex flex-column position-static">
            <div class="photo" style="background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(http://yksenia.pythonanywhere.com/{{ im.image.url }} ); height: 400px">

     {% endif %}

     {% endfor %}

          <strong class="d-inline-block mb-2 text-primary ml-4 mt-4">{{ post.label }}</strong>
          <h1><a href="{% url 'post_detail' pk=post.pk %}" style="text-decoration:none;">{{ post.title }}</a></h1>


          <div class="mb-1 text-muted ml-4">{{ post.published_date }}</div>

          <h3>This is a wider card with supporting text below as a natural lead-in to additional content.</h3>

        </div>
        </div>

        </div>
      </div>
    </div>



{% endif %}


{% endfor %}


</div>
<table>
        <tr>
    {% for post in posts %}

    {% if forloop.counter == 1 or forloop.counter == 2 %}



        <td>
            <div class="date">
            {{ post.published_date }}
        </div>
        </td>


        {% else %}

        </tr>

        {% endif %}

    {% endfor %}



    <tr>
    {% for post in posts %}

    {% if forloop.counter == 1 or forloop.counter == 2 %}


                    <th>{{ post.file|safe }}</th>



        {% else %}

        </tr>

        {% endif %}

    {% endfor %}

    <tr>
    {% for post in posts %}



        {% if forloop.counter == 1 or forloop.counter == 2 %}

         <td><h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1></td>






        {% else %}

        </tr>

        {% endif %}

    {% endfor %}


    <tr>
    {% for post in posts %}



        {% if forloop.counter == 1 or forloop.counter == 2 %}


                    <td><h4>{{ post.text|linebreaksbr }}</h4></td>







        {% else %}

        </tr>

        {% endif %}

    {% endfor %}

</table>


{% endblock %}