{% extends 'blog/base.html' %}
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

{% load hitcount_tags %}



{% block content %}

    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
                <p>Views: {{ hitcount.total_hits }}</p>
            </div>
        {% endif %}

<h1>{{ post.title }}</h1>

{% for image in post.images.all %}

<!-- <div class="photo" style="background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(http://yksenia.pythonanywhere.com/media/{{ image.image }} ); height: 250px"> -->

 <img src="http://yksenia.pythonanywhere.com/media/{{ image.image }} " alt="" width="auto" height="540"/>

{% endfor %}







        <h2>{{ post.text|linebreaksbr }}</h2>

        <div class="text">
            {{ post.article|safe }}
        </div>




    </div>
{% endblock %}