{% extends 'blog/base.html' %}

{% block content %}

    {% for post in posts %}
        {% if post.label == "practice" %}
            <div class="post">
                <div class="date">
                    {{ post.published_date }}
                </div>

                <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>


                <p>{{ post.text|linebreaksbr }}</p>
                <p>{{ post.file|safe }}</p>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}