{% extends 'blog/base.html' %}

{% block content %}

    <div class="theory">
        <h1>Pure logic</h1>
        <h3>Programming concepts are super easy to understand: they are based on a simple logic. So never ever believe those nerds who tell you: "This programming stuff is too complicated for you, you will not understand". You will, we promise. Just go through these articles and see how hucking simple it is.</h3>
            {% for post in posts %}
                {% if post.label == "theory" %}
                    <div class="post">
                        <div class="date">
                            {{ post.published_date }}
                        </div>

                        <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>


                        <p>{{ post.text|linebreaksbr }}</p>
                        <p>{{ post.file|safe }}</p>
                    </div>
                {% endif %}
            {% endfor %}
    </div>
{% endblock %}